body{
    text-align: center;
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
}

h5 {
    font-size: 100%;
    margin-bottom: 10px;
}

.all-chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

.chart-container {
    border-radius: 25px;
    border: 2px solid #C0C0C0;
    padding: 10px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    position: relative;
    width: 400px;
    /* margin: auto; */
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    width:250px;
    height: 150px;
    margin-top: 20px;
  }
  
  tr {
    border: none;
  }
  
  td:first-child {
    border-right: solid 4px #E8E8E8;
    text-align: left;
  }

  .rawTelemetry{
    text-align: left;
  }